/* stylelint-disable */

@import './reset';
@import '../variables/global';

@font-face {
    font-family: Montserrat_Light;
    src: url('../../shared/assets/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat_Regular;
    src: url('../../shared/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Italiana;
    src: url('../../shared/assets/fonts/Italiana-Regular.ttf');
}

.app {
    font-family: sans-serif;
}

body {
    background: #2E2E2E;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    background: none;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.03);
        filter: saturate(200%);
    }
    
    &:active {
        transform: scale(1);
        opacity: 0.8;
        filter: none;
    }
}