.Header {
    padding: 30px 0;
    font: var(--font-16-25) 'Montserrat_Light', sans-serif;
    user-select: none;
    z-index: 1000;
    
    &_active {
        position: fixed;
        inset: 0;
        background: rgb(0 0 0 / 30%);
    }
    
    a {
        height: 100%;
        text-decoration: none;
        color: var(--color-grey-khaki);
        padding: 5px 0;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }
    
    &__menu {

        ul {
            display: flex;
            list-style-type: none;
            gap: 30px;
        }
    }
    
    &__actions {
        display: flex;
        align-items: center;
        gap: 30px;
        color: var(--color-grey-khaki);
        cursor: pointer;
        
        button {
            color: var(--color-grey-khaki);
            border: 1px solid var(--color-grey-khaki);
            padding: 10px 30px;
            border-radius: 50px;
        }
    }
}
@media(width<= 900px) {

    .Header {
        padding: 0;
        font: var(--font-30-50) 'Montserrat_Light', sans-serif;

        &__container {
            flex-direction: column;
            justify-content: center;
            width: 80%;
            height: 100vh;
            position: fixed;
            background: black;
            transform: translateX(-100%);
            transition: transform 0.5s ease;
            
            &_active {
                transform: translateX(0);
            }
        }
        
        &__logo {
            display: none;
            margin: 0 10px;
        }
        
        &__menu {

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0;
                
                li {
                    padding: 5px 0;
                }
            }
        }
        
        &__actions {
            display: flex;
            flex-direction: column;
            gap: 0;
            
            button {
                margin-top: 15px;
            }
        }
    }
}